.table {
  display: flex;
  flex-direction: column;
}

.searchBox {
  margin-bottom: 50px;
}

.button2 {
  width: 100px;
  align-self: flex-end;
  justify-self: flex-end;
  color: white;
  background-color: blue !important;
  margin-top: 10px !important;
}
